<html>

<head>
  <title>Angular JS Controller</title>
  <script src="http://www.yiibai.com/js/angular.min.js"></script>
</head>

<body>
  <h2>AngularJS应用示例</h2>
  <h3>参考：https://www.yiibai.com/angularjs/angularjs_quick_guide.html</h3>
  <div ng-app="mainApp" ng-controller="studentController">

    Enter first name: <input type="text" ng-model="student.firstName"><br><br>
    Enter last name: <input type="text" ng-model="student.lastName"><br>
    Name in Upper Case: {{student.fullName() | uppercase}}<br>

    <br> 您输入的名字是: {{student.fullName()}}
  </div>
  <script>
    var mainApp = angular.module("mainApp", []);

    mainApp.controller('studentController', function($scope) {
      $scope.student = {
        firstName: "李",
        lastName: "刚",
        fullName: function() {
          var studentObject;
          studentObject = $scope.student;
          return studentObject.firstName + " " + studentObject.lastName;
        }
      };
    });
  </script>
</body>

</html>
